@model Mathio.Models.ChangePasswordModel

<h3>@ViewBag.Reason</h3>
<form asp-action="ChangePassword">
    <div class="form-group text-center field-group-extra">
        <label asp-for="OldPassword" class="control-label hide">Wpisz aktualne hasło</label>
        <input asp-for="OldPassword" class="form-control field-extra" type="password" placeholder="Hasło" />
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>
    <div class="form-group text-center field-group-extra">
        <label asp-for="NewPassword" class="control-label hide">Wpisz nowe hasło</label>
        <input asp-for="NewPassword" class="form-control field-extra" type="password" placeholder="Nowe hasło" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <input type="submit" class="submit-extra"/>
</form>