@model UserModel
@{
    ViewData["Title"] = "Profile Settings";
}

<style>
body{
    background-color: #EEEEEE;
}

.content{
    margin: auto;
    background-color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 25px;
    min-width: 375px;
}

.field-extra{
    margin-top: 20px;
    border-radius: 25px;
    border: 1px solid #BBB;
    width: 100%;
    text-align: center;
}

.submit-extra{
    width: 100%;
    margin-top: 20px;
    border-radius: 25px;
    background-color: #088AFC;
    color: #FFFFFF;
    border: 2px #0872FC solid;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    padding-top: 5px;
    padding-bottom: 5px;
}

.submit-extra:hover{
    background-color: #0872FC;
    color: #FFFFFF;
    border: 2px #086AFC solid;
    text-shadow: 0 0 0.5px #EEEEEE;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.button-extra{
    width: 100%;
    margin-top: 20px;
    border-radius: 25px;
    background-color: #FFFFFF;
    color: #222222;
    border: 2px #E0E0E0 solid;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.button-extra:hover{
    background-color: #F0F0F0;
    color: #222222;
    border: 2px #CCCCCC solid;
    text-shadow: 0 0 0.5px #888888;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.hide{
    display: none;
}
</style>

<div class="row">

    <div class="col-0 col-sm-2 col-md-3 col-lg-4"></div>

    <div class="col-12 col-sm-8 col-md-6 col-lg-4 d-flex">
        <div class="content">
            <form id="usernameForm" asp-antiforgery="true">
                <label asp-for="UserName"></label>
                <input class="form-control field-extra" asp-for="UserName" type="text"/>
                <span class="text-danger" asp-validation-for="UserName"></span>
                <button type="button" class="btn btn-primary" onclick="ChangeUserName()">Zmień nazwę użytkownika</button>
                <br/>
            </form>
            <form id="firstNameForm" asp-antiforgery="true">
                <label asp-for="FirstName"></label>
                <input class="form-control field-extra" asp-for="FirstName" type="text"/>
                <span class="text-danger" asp-validation-for="FirstName"></span>
                <button type="button" class="btn btn-primary" onclick="ChangeFirstName()">Zmień imię</button>
                <br/>
            </form>
            <form id="lastNameForm" asp-antiforgery="true">
                <label asp-for="LastName"></label>
                <input class="form-control field-extra" asp-for="LastName" type="text"/>
                <span class="text-danger" asp-validation-for="LastName"></span>
                <button type="button" class="btn btn-primary" onclick="ChangeLastName()">Zmień nazwisko</button>
                <br/>
            </form>
            <form id="descritionForm" asp-antiforgery="true">
                <label asp-for="Description"></label>
                <input class="form-control field-extra" asp-for="Description" type="text"/>
                <span class="text-danger" asp-validation-for="Description"></span>
                <button type="button" class="btn btn-primary" onclick="ChangeDescription()">Zmień opis</button>
                <br/>
            </form>
            <h4 id="success">@TempData["Success"]</h4>
            <h4 id="error"></h4>
        </div>
    </div>

    <div class="col-0 col-sm-2 col-md-3 col-lg-4"></div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}