@model UserModel
@{
    ViewData["Title"] = "Profile Settings";
}

<style>
body{
    background-color: #EEEEEE;
}

.content{
    margin: auto;
    background-color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    widht: 100%;
    text-align: center;
}

.field-extra{
    margin-top: 20px;
    border-radius: 25px;
    border: 1px solid #BBB;
    width: 100%;
    text-align: center;
}

.button-extra{
    width: 100%;
    margin-top: 20px;
    border-radius: 25px;
    background-color: #088AFC;
    color: #FFFFFF;
    border: 2px #0872FC solid;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    padding-top: 5px;
    padding-bottom: 5px;
}

.button-extra:hover{
    background-color: #0872FC;
    color: #FFFFFF;
    border: 2px #086AFC solid;
    text-shadow: 0 0 0.5px #EEEEEE;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.hide{
    display: none;
}

.title{
    background-color: #088AFC;
    padding: 14px;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    font-size: 20px;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.cursor-pointer{
    cursor: pointer;
}

.catcher{
    width: 100%;
    min-width: 375px;
}

.extra:hover{
    background-color: #3082F4;
    color: #EEEEEE;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.a:link{
    text-decoration: none;
    color: #FFFFFF;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.a:link:hover{
    text-decoration: none;
    color: #EEEEEE;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

a:link{
    text-decoration: none;
}

.margin-top-10{
    margin-top: 10px;
}

.margin-top-20{
    margin-top: 20px;
}
</style>

<div class="row">

    <div class="col-0 col-sm-2 col-md-3 col-xl-4"></div>

    <div class="col-12 col-sm-8 col-md-6 col-xl-4">
        <div class="title margin-top-20">Ustawienia</div>
        <div class="content">
            <form id="usernameForm" asp-antiforgery="true">
                <label asp-for="UserName" class="hide"></label>
                <center><h5 class="margin-top-10">Nazwa użytkownika</h5></center>
                <input class="form-control field-extra" asp-for="UserName" type="text"/>
                <span class="text-danger" asp-validation-for="UserName"></span>
                <button type="button" class="btn btn-primary button-extra" onclick="ChangeUserName()">Zmień</button>
                <br/>
            </form><hr class="margin-top-20">
            <form id="firstNameForm" asp-antiforgery="true">
                <label asp-for="FirstName" class="hide"></label>
                <center><h5 class="margin-top-10">Imię</h5></center>
                <input class="form-control field-extra" asp-for="FirstName" type="text"/>
                <span class="text-danger" asp-validation-for="FirstName"></span>
                <button type="button" class="btn btn-primary button-extra" onclick="ChangeFirstName()">Zmień</button>
                <br/>
            </form><hr class="margin-top-20">
            <form id="lastNameForm" asp-antiforgery="true">
                <label asp-for="LastName" class="hide"></label>
                <center><h5 class="margin-top-10">Nazwisko</h5></center>
                <input class="form-control field-extra" asp-for="LastName" type="text"/>
                <span class="text-danger" asp-validation-for="LastName"></span>
                <button type="button" class="btn btn-primary button-extra" onclick="ChangeLastName()">Zmień</button>
                <br/>
            </form><hr class="margin-top-20">
            <form id="descritionForm" asp-antiforgery="true">
                <label asp-for="Description" class="hide"></label>
                <center><h5 class="margin-top-10">Opis</h5></center>
                <input class="form-control field-extra" asp-for="Description" type="text"/>
                <span class="text-danger" asp-validation-for="Description"></span>
                <button type="button" class="btn btn-primary button-extra" onclick="ChangeDescription()">Zmień</button>
                <br/>
            </form>
            <h5 id="success" class="text-success margin-top-20">@TempData["Success"]</h5>
            <h5 id="error" class="text-danger margin-top-20"></h5>
        </div>
        <a href="/Profile" class="link"><div class="title extra cursor-pointer">Ucieczka</div></a>
    </div>

    <div class="col-0 col-sm-2 col-md-3 col-xl-4"></div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}