@{
    ViewData["Title"] = "Mathio";
    Layout = ViewBag.Layout;
}
<div class="row justify-content-md-center">
    <div class="col col-lg-4">
        <h1>Witamy w Mathio</h1> 
    </div>
</div>

<div class="row col-12 pt-5">
    <h3>O Mathio</h3>
    <span><strong>Mathio</strong> to platforma edukacyjna pozwalająca na samodzielną naukę
        matematyki. Jest skierowana do uczniów szkół podstawowych
        oferując:</span>
    <ul class="m-lg-3">
        <li>
            przyjemną treść z zakresu wiedzy teoretycznej
        </li>
        <li>
            interaktywne narzędzia matematyczne   
        </li>
        <li>
            testy podsumowujące zebraną wiedzę
        </li>
        <li>
            historię wykonanych testów przez użytkownika
        </li>
    </ul>
</div>
<div class="row col-12">
    <h3>Cel Mathio</h3>
    <p>
        Mathio ma na celu wspomaganie samodzielnego procesu nauki matematyki
        młodych osób. Interaktywne i ciekawe zadania mają na celu zachęcanie młode
        osoby do poznawania i odkrywania fascynującego świata matematyki. Platforma ma
        pomóc w przyjaznej nauce, umożliwiając indywidualny tok nauki w zależności od
        preferencji oraz posiadanych zdolności. Ponadto może wspomóc nauczycieli w
        procesie dydaktycznym.

    </p>
</div>

