<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Mathio</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Mathio.styles.css" asp-append-version="true"/>
</head>
<body>
<main role="main" class="pb-3 m-0 p-0">
    <div class="bg-light" style="width: 15%">
        <ul class="sidenav">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <button type="button" class="btn btn-primary btn-lg btn-block w-100 p-3 mt-2">Mathio</button>
            </a>
            <a asp-area="" asp-controller="Profile" asp-action="SignIn">
                <button type="button" class="btn btn-primary btn-lg btn-block w-100 p-3 mt-2">Logowanie</button>
            </a>
            <a asp-area="" asp-controller="Profile" asp-action="Register">
                <button type="button" class="btn btn-primary btn-lg btn-block w-100 p-3 mt-2">Rejestracja</button>
            </a>
            <a asp-area="" asp-controller="Profile" asp-action="LogOut">
                <button type="button" class="btn btn-primary btn-lg btn-block w-100 p-3 mt-2">Wyloguj</button>
            </a>
            
        </ul>
    </div>
    <div class="container p-4" style="width: 85%; position: center; right: 0px">
        @RenderBody()
    </div>
</main>





<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - Mathio - <a asp-area="" asp-controller="Home">Privacy</a>
    </div>


</footer>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>