<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Mathio</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <!--<link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>-->
    <link rel="stylesheet" href="~/Mathio.styles.css" asp-append-version="true"/>

</head>
<body>

<main role="main">
    <!-- Wrapper -->
    <div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Mathio</h3>
        </div>

        <ul class="list-unstyled components">
            
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="#userSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Profil</a>
                    <ul class="collapse list-unstyled" id="userSubmenu">
                        <li>
                            <a href="/Profile">Mój profil</a>
                        </li>
                        <li>
                            <a href="/Profile/Settings">Ustawienia</a>
                        </li>
                    </ul>
            </li>
            <li>
                <a href="/Tasks">Zadania</a>
            </li>
            <li>
                <a href="/TasksManager">Menadżer zadań</a>
            </li>
        </ul>
        <ul class="list-unstyled CTAs">
            <li>
                <a href="/Profile/LogOut" class="login">Wyloguj</a>
            </li>
        </ul>

        <div class="privacy">
            <a href="/Home/Privacy">&copy; 2022 - Mathio - Privacy</a>
        </div>
    </nav>
    <!-- Content -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <span>Menu</span>
                </button>

            </div>
        </nav>

        <div id="content-render">
	        @RenderBody()
        </div>
    </div>

</div>
    
</main>






<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>
</body>
</html>