@model LessonModel

<div class="lesson">
    <div class="form-group text-center field-group-extra">
        <label class="control-label hide" for="Lessons[@Model.Page]_Page">Strona</label>
        <input class="form-control field-extra" placeholder="Strona" type="text" data-val="true" data-val-required="The Page field is required." id="Lessons[@Model.Page]_Page" name="Lessons[@Model.Page].Page" value="@Model.Page" disabled/>
        <span class="text-danger field-validation-valid" data-valmsg-for="Lessons[@Model.Page].Page" data-valmsg-replace="true"></span>
    </div>
    <div class="form-group text-center field-group-extra">
        <label class="control-label hide" for="Lessons[@Model.Page]_Content">Strona</label>
        <input class="form-control field-extra" placeholder="Strona" type="text" data-val="true" data-val-required="The Content field is required." id="Lessons[@Model.Page]_Content" name="Lessons[@Model.Page].Content" value="@Model.Content"/>
        <span class="text-danger field-validation-valid" data-valmsg-for="Lessons[@Model.Page].Content" data-valmsg-replace="true"></span>
    </div>
</div>