@model Tuple<Mathio.Models.TasksModel, Mathio.Models.UserModel>

<div class="col-sm-12 col-lg-6 col-xxl-4 d-flex">
    <div class="one-category">
        <div class="category">
            <h2>@Model.Item1.Category</h2>
        </div>
        <div class="title-and-description">
            <div class="title">
                <h3>@Model.Item1.Title</h3>
            </div>
        
            <hr>

            <div class="description">
                <p>@Model.Item1.Description</p>
            </div>
        </div>
    </div>
</div>
