@model QuestionModel?

<div id="Odpowiedz">
    @{
        if (Model != null)
        {
            @Model.Question
            Model.AnswerModel = new QuestionAnswerModel
            {
                QuestionId = Model.ID
            };
            if (Model.Type == "open")
            {
                <form asp-action="SendAnswer" asp-controller="Tasks">
                    <input asp-for="AnswerModel.QuestionId" hidden disabled/>
                    <input asp-for="AnswerModel.Answer"/>
                    <button type="submit">Odpowiedź</button>
                </form>
            }
            else if(Model.Type == "closed")
            {
                <form asp-action="SendAnswer" asp-controller="Tasks">
                    <input asp-for="AnswerModel.QuestionId" hidden disabled/>
                    <select asp-for="AnswerModel.Answer">
                        @{
                            foreach (var answer in Model.Answers)
                            {
                                <option>@answer</option>
                            }
                        }
                    </select>
                    <button type="submit">Odpowiedź</button>
                </form>
            }
        }
    }
</div>
