@model Mathio.Models.TasksAllModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Add Task</h2>
<form asp-action="AddTask">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group text-center field-group-extra">
        <label asp-for="Task.Category" class="control-label hide"></label>
        <input asp-for="Task.Category" class="form-control field-extra" placeholder="Kategoria"/>
        <span asp-validation-for="Task.Category" class="text-danger"></span>
    </div>
    <div class="form-group text-center field-group-extra">
        <label asp-for="Task.Title" class="control-label hide"></label>
        <input asp-for="Task.Title" class="form-control field-extra" placeholder="Tytuł"/>
        <span asp-validation-for="Task.Title" class="text-danger"></span>
    </div>
    <div class="form-group text-center field-group-extra">
        <label asp-for="Task.Description" class="control-label hide"></label>
        <input asp-for="Task.Description" class="form-control field-extra" placeholder="Opis"/>
        <span asp-validation-for="Task.Description" class="text-danger"></span>
    </div>
    <h4>Lessons</h4>
    <div id="lessons">

    </div>
    <button id="addLesson" type="button">Add Lesson</button>
    <h4>Questions</h4>
    <div id="questions">

    </div>
    <button id="addQuestion" type="button">Add Question</button>
    <input type="submit" value="Dodaj" class="btn btn-primary submit-extra"/>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $("#addLesson").on("click", function () {
            let pg = $("#lessons").children().length;
            alert(pg);
            
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetLessonManagerPartial", "TasksManager")?page='+pg,
                success: function (response) {
                    alert(response)
                    document.getElementById("lessons").innerHTML+=response;
                }
            });
        });
        $("#addQuestion").on("click", function () {
            let nr = $("#questions").children().length;
            alert(nr);
            
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetQuestionManagerPartial", "TasksManager")?nr='+nr,
                success: function (response) {
                    alert(response)
                    document.getElementById("questions").innerHTML+=response;
                }
            });
        });
    </script>

}
