@{
    Layout = "_Layout";
    ViewData["Title"] = "TasksManager";
}
<div class="row pb-4">
    <div class="col-12" style="background-color: dodgerblue; text-align: center;">
        <h1 style="color: white;">
            Strona menadżera zadań
        </h1>
    </div>
</div>
<div class="row">
    <h2>Dodawanie</h2>
</div>
<div class="d-flex  w-100 pb-1" style="border-top: 5px solid dodgerblue; border-bottom: 5px solid dodgerblue;">
    
</div>
<div class="d-flex justify-content-between pb-5 pt-3">
    <div class="w-25 border border-primary" style="height: 150px; text-align: center; border-radius: 20px;">
        <div class="row h-75">
            <h4>Dodawanie do 10 cz. 1</h4>
            <span>2+3=</span>
        </div>
        <div class="row justify-content-around">
            <div class="col-md-auto">
                <a href="/TasksManager/EditTask/eTUCGlOYMpoIjh6i2MLp" class="btn btn-primary" role="button">Edytuj</a>
            </div>
            <div class="col-md-auto">
                <a href="#" class="btn btn-danger" role="button">Usuń</a>
            </div>
        </div>
    </div>

       <div class="w-25 border border-primary" style="height: 150px; text-align: center; border-radius: 20px;">
            <div class="row h-75">
                <h4>Dodawanie do 10 cz. 2</h4>
                <span>5+3=</span>
            </div>
            <div class="row justify-content-around">
                <div class="col-md-auto">
                    <a href="/TasksManager/EditTask/eTUCGlOYMpoIjh6i2MLp" class="btn btn-primary" role="button">Edytuj</a>
                </div>
                <div class="col-md-auto">
                    <a href="#" class="btn btn-danger" role="button">Usuń</a>
                </div>
            </div>
        </div>
       <div class="w-25 border border-primary" style="height: 150px; text-align: center; border-radius: 20px;">
            <div class="row h-75">
                <h4>Dodawanie do 20 cz. 1</h4>
                <span>2+13=</span>
            </div>
            <div class="row justify-content-around">
                <div class="col-md-auto">
                    <a href="/TasksManager/EditTask/eTUCGlOYMpoIjh6i2MLp" class="btn btn-primary" role="button">Edytuj</a>
                </div>
                <div class="col-md-auto">
                    <a href="#" class="btn btn-danger" role="button">Usuń</a>
                </div>
            </div>
        </div>

</div>
    <div class="d-flex w-100" style="border: 8px solid dodgerblue">
        
    </div>
<div class="row pt-3">
    <h2>Odejmowanie</h2>
</div>
<div class="d-flex  w-100 pb-1" style="border-top: 5px solid dodgerblue; border-bottom: 5px solid dodgerblue;">
    
</div>
<div class="d-flex justify-content-between pb-5 pt-3">
    <div class="w-25 border border-primary" style="height: 150px; text-align: center; border-radius: 20px;">
        <div class="row h-75">
            <h4>Odejmowanie w zakresie 10 cz. 1</h4>
            <span>5-3=</span>
        </div>
        <div class="row justify-content-around">
            <div class="col-md-auto">
                <a href="/TasksManager/EditTask/eTUCGlOYMpoIjh6i2MLp" class="btn btn-primary" role="button">Edytuj</a>
            </div>
            <div class="col-md-auto">
                <a href="#" class="btn btn-danger" role="button">Usuń</a>
            </div>
        </div>
    </div>
    <div class="w-25 border border-primary" style="height: 150px; text-align: center; border-radius: 20px;">
        <div class="row h-75">
            <h4>Odejmowanie w zakresie 10 cz. 2</h4>
            <span>9-2=</span>
        </div>
        <div class="row justify-content-around">
            <div class="col-md-auto">
                <a href="/TasksManager/EditTask/eTUCGlOYMpoIjh6i2MLp" class="btn btn-primary" role="button">Edytuj</a>
            </div>
            <div class="col-md-auto">
                <a href="#" class="btn btn-danger" role="button">Usuń</a>
            </div>
        </div>
    </div>
    <div class="w-25 border border-primary" style="height: 150px; text-align: center; border-radius: 20px;">
        <div class="row h-75">
            <h4>Odejmowanie w zakresie 20 cz. 1</h4>
            <span>15-8=</span>
        </div>
        <div class="row justify-content-around">
            <div class="col-md-auto">
                <a href="/TasksManager/EditTask/eTUCGlOYMpoIjh6i2MLp" class="btn btn-primary" role="button">Edytuj</a>
            </div>
            <div class="col-md-auto">
                <a href="#" class="btn btn-danger" role="button">Usuń</a>
            </div>
        </div>
    </div>
    
</div>
<div class="d-flex w-100" style="border: 8px solid dodgerblue">
        
</div>
<div class="row pt-3">
    <h2>Mnożenie</h2>
</div>
<div class="d-flex  w-100 pb-1" style="border-top: 5px solid dodgerblue; border-bottom: 5px solid dodgerblue;">
    
</div>
<div class="d-flex justify-content-between pb-5 pt-3">
    <div class="w-25 border border-primary" style="height: 150px; text-align: center; border-radius: 20px;">
        <div class="row h-75">
            <h4>Mnożenie do 30 cz. 1</h4>
            <span>2*3=</span>
        </div>
        <div class="row justify-content-around">
            <div class="col-md-auto">
                <a href="/TasksManager/EditTask/eTUCGlOYMpoIjh6i2MLp" class="btn btn-primary" role="button">Edytuj</a>
            </div>
            <div class="col-md-auto">
                <a href="#" class="btn btn-danger" role="button">Usuń</a>
            </div>
        </div>
    </div>
    <div class="w-25 border border-primary" style="height: 150px; text-align: center; border-radius: 20px;">
        <div class="row h-75">
            <h4>Mnożenie do 30 cz. 2</h4>
            <span>5*3=</span>
        </div>
        <div class="row justify-content-around">
            <div class="col-md-auto">
                <a href="/TasksManager/EditTask/eTUCGlOYMpoIjh6i2MLp" class="btn btn-primary" role="button">Edytuj</a>
            </div>
            <div class="col-md-auto">
                <a href="#" class="btn btn-danger" role="button">Usuń</a>
            </div>
        </div>
    </div>
    <div class="w-25 border border-primary" style="height: 150px; text-align: center; border-radius: 20px;">
        <div class="row h-75">
            <h4>Mnożenie do 100 cz. 1</h4>
            <span>8*9=</span>
        </div>
        <div class="row justify-content-around">
            <div class="col-md-auto">
                <a href="/TasksManager/EditTask/eTUCGlOYMpoIjh6i2MLp" class="btn btn-primary" role="button">Edytuj</a>
            </div>
            <div class="col-md-auto">
                <a href="#" class="btn btn-danger" role="button">Usuń</a>
            </div>
        </div>
    </div>
    
</div>
<div class="d-flex w-100" style="border: 8px solid dodgerblue">
        
</div>
<div class="row pt-3">
    <h2>Dzielenie</h2>
</div>
<div class="d-flex  w-100 pb-1" style="border-top: 5px solid dodgerblue; border-bottom: 5px solid dodgerblue;">
    
</div>
<div class="d-flex justify-content-between pb-5 pt-3">
    <div class="w-25 border border-primary" style="height: 150px; text-align: center; border-radius: 20px;">
        <div class="row h-75">
            <h4>Dzielenie w zakresie 10 cz. 1</h4>
            <span>10/2=</span>
        </div>
        <div class="row justify-content-around">
            <div class="col-md-auto">
                <a href="/TasksManager/EditTask/eTUCGlOYMpoIjh6i2MLp" class="btn btn-primary" role="button">Edytuj</a>
            </div>
            <div class="col-md-auto">
                <a href="#" class="btn btn-danger" role="button">Usuń</a>
            </div>
        </div>
    </div>
    <div class="w-25 border border-primary" style="height: 150px; text-align: center; border-radius: 20px;">
        <div class="row h-75">
            <h4>Dzielenie w zakresie 10 cz. 2</h4>
            <span>4/2=</span>
        </div>
        <div class="row justify-content-around">
            <div class="col-md-auto">
                <a href="/TasksManager/EditTask/eTUCGlOYMpoIjh6i2MLp" class="btn btn-primary" role="button">Edytuj</a>
            </div>
            <div class="col-md-auto">
                <a href="#" class="btn btn-danger" role="button">Usuń</a>
            </div>
        </div>
    </div>
    <div class="w-25 border border-primary" style="height: 150px; text-align: center; border-radius: 20px;">
        <div class="row h-75">
            <h4>Dzielenie w zakresie 100 cz. 1</h4>
            <span>50/10=</span>
        </div>
        <div class="row justify-content-around">
            <div class="col-md-auto">
                <a href="/TasksManager/EditTask/eTUCGlOYMpoIjh6i2MLp" class="btn btn-primary" role="button">Edytuj</a>
            </div>
            <div class="col-md-auto">
                <a href="#" class="btn btn-danger" role="button">Usuń</a>
            </div>
        </div>
    </div>
    
</div>
    <div class="d-flex w-100" style="border: 8px solid dodgerblue">
        
    </div>
<div class="row pt-3">
    <div class="col-md-auto">
        <a href="/TasksManager/AddTask" class="btn btn-primary" role="button">Dodaj nowe zadanie</a>
    </div>

</div>