@{
    Layout = "_Layout";
    ViewData["Title"] = "TasksManager";
}

<div class="row">
    Strona menadżera zadań.
</div>
<div class="row">
    <div class="col-md-auto">
        <a href="/TasksManager/AddTask" class="btn btn-primary" role="button">Dodaj</a>
    </div>
    <div class="col-md-auto">
        <a href="/TasksManager/EditTask" class="btn btn-primary" role="button">Edytuj</a>
    </div>
</div>