@{

    Layout = "_Layout";
    ViewData["Title"] = "TasksManager";
}
<div class="row pb-4">
    <div class="col-12" style="background-color: dodgerblue; text-align: center;">
        <h1 style="color: white;">
            Strona menadżera zadań
        </h1>
    </div>
</div>

<div class="row pt-3">
    <div class="col-md-auto">
        <a href="/TasksManager/AddTask" class="btn btn-primary" role="button">Dodaj nowe zadanie</a>
    </div>
</div>
<div class="d-flex w-100" style="border: 8px solid dodgerblue"></div>
<button class="btn" id="load">Zaladuj</button>
<div id="tasks">
    
</div>

<script type="text/javascript" defer>
$("#load").on("click", function () {
    $.ajax({
        type: "GET",
        url: '@Url.Action("LoadMoreTasksM", "TasksManager", new { batchSize=1 })',
        success: function (response) {
            alert(response)
            document.getElementById("tasks").innerHTML+=response;
        }
    });
});
</script>